.App {
  text-align: center;
  height: 300%;
  background-color: #065a6d;
  color: rgb(241, 139, 139);
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

 

#root{
  height: 300%;
  background-color:  #03323d;
  color: rgb(230, 150, 150);
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

